h1{
    color:#dc143c;
    font-family: "algerian";
}
*{
    background-color:#add8e6;
}

.forehead{
border:solid;
display:flex;
justify-content:space-between
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item{
    margin:100;
    border:solid;
}

h2,p{
    text-align:center
}
